* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    width: 1145px;
    margin: 0 auto;

}
.menu{
    list-style: none;
    text-align: center;
    padding: 25px 0;


}
.menu-top{

    display: inline-block;
    font-size: 18px;
    margin-right: 72px;
    letter-spacing: 2px;
    font-weight: 700;

}
.linc-menu{

    text-decoration: none;
    color: red;

}
.photo{
    width: 100%;
    margin-bottom: 50px;
}
.content{
    text-align: center;
}

.content-title{
    font-size: 22px;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:#373737;
    padding-top: 48px;

}
.content-text{

    font-size: 16px;
    color: #373737;
    line-height: 26px;
    letter-spacing: 2px;
    margin-top: 38px;
    font-family: 'Montserrat', sans-serif;
}

.button-red{
    display: inline-block;
    height:51px;
    width:191px;
    letter-spacing: 2px;
    margin-top: 84px;
    border-radius: 12px;
    background-color: red;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.page-bottom{
    padding:82px 0 ;
    text-align: right;

}
.page-bottom-text{
    color: #373737;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}